/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}
/* Remove default margin */
* {
	margin: 0;
	padding: 0;
	font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}
/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}
html,
body {
	height: 100%;
}
/* Set core body defaults */
body {
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
	-webkit-text-decoration-skip: ink;
	text-decoration-skip-ink: auto;
}
/* Make images easier to work with */
img,
picture,
svg {
	max-width: 100%;
	display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		-webkit-animation-duration: 0.01ms !important;
		animation-duration: 0.01ms !important;
		-webkit-animation-iteration-count: 1 !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
:root {
	--h1-size: clamp(2.4rem, 4.4vw, 4.4rem);
	--square-size: calc(65vw / 20);
	--gap-01: 1rem;
	--border-rad-01: 0.5em;
}
@media (min-width: 45em) {
	:root {
		--square-size: calc(50vw / 20);
	}
}
@media (orientation: landscape) {
	:root {
		--square-size: calc(40vh / 20);
	}
}
body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	margin: 0;
	background-color: #111;
	height: 100vh;
	overflow: hidden;
}
main {
	display: grid;
	gap: var(--gap-01);
}
.primary-header {
	animation: rainbow 10s alternate-reverse infinite;
	background-image: linear-gradient(45deg, #e74c3c, #8e44ad, #3498db, #e67e22, #2ecc71);
	background-position: left;
	background-size: 400%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	font-size: var(--h1-size);
	font-family: 'Silkscreen', cursive;
	text-align: justify;
}
@-webkit-keyframes rainbow {
	0% {
		background-position: left;
	}

	100% {
		background-position: right;
	}
}
@keyframes rainbow {
	0% {
		background-position: left;
	}

	100% {
		background-position: right;
	}
}
/* drawing */
.container__canvas {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	gap: calc(var(--square-size) / 4);
	cursor: pointer;
}
.square {
	transition: 1s ease;
	box-shadow: 0 0 2px #000;
	background-color: #1d1d1d;
	aspect-ratio: 1;
	width: var(--square-size);
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
/* drawing controls */
.bottom-controls {
	display: flex;
	flex-direction: column;
	gap: var(--gap-01);
	width: 100%;
}
.buttons {
	display: flex;
	gap: var(--gap-01);
}
.btn {
	transition: border-color 500ms ease;
	border: 1px solid transparent;
	border-radius: var(--border-rad-01);
	background-color: rgba(255, 255, 255, 0.1);
	padding-inline: 0.5em;
	padding-block: 0.1em;
	color: white;
}
.btn:active {
	opacity: 0.7;
}
.btn.active {
	border-color: white;
}
.color-pickers {
	display: flex;
	gap: var(--gap-01);
	width: 100%;
}
.color-picker {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: var(--border-rad-01);
	width: calc((100% / 5) - var(--gap-01) * 0.8);
	height: 2rem;
}
.color-picker::-webkit-color-swatch {
	border: none;
	border-radius: var(--border-rad-01);
}
.color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
}
.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	/* added line */
}

/*# sourceMappingURL=style-dist.css.map */