@import 'reset.css';

:root {
	--square-size: clamp(0.75rem, 2vh, 1.25rem);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	/* gap: 1rem; */
	background-color: #111;
	height: 100vh;
	overflow: hidden;
}

.primary-header {
	color: white;
	font-size: 2rem;
	font-family: 'Silkscreen', cursive;
}

/* drawing */
.container__canvas {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	gap: calc(var(--square-size) / 4);
	cursor: pointer;
}

.square {
	transition: 1s ease;
	box-shadow: 0 0 2px #000;
	background-color: #1d1d1d;
	aspect-ratio: 1;
	width: var(--square-size);
	user-select: none;
}

/* drawing controls */
.bottom-controls {
	width: 100%;
	max-width: var(--max-width);
}

.btn {
	border: 1px solid;
	border-radius: 100vmax;
	background: transparent;
	padding-inline: 0.5em;
	padding-block: 0.1em;
	color: white;
}

.btn:active {
	opacity: .7;
}
