@import 'reset.css';

:root {
	--fs-h1-size: clamp(2.4rem, 4.4vw, 4.4rem);
	--fs-btn: .7rem;
	--square-size: calc(40vh / 20);
	--gap: 1rem;
	--border-rad: 0.25em;
	--picker-height: 1rem;
}

@media (max-aspect-ratio: 2 / 4 ) {
	:root {
		--square-size: calc(30vh / 20);
	}
}

@media (min-width: 30rem) {
	:root {
		--fs-btn: 1rem;
		--picker-height: 2rem;
		--border-rad: 0.5em;
	}
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--gap-00);
	margin: 0;
	background-color: #111;
	height: 100vh;
	overflow: hidden;
}

@media (max-height: 30em) {
	body {
		justify-content: start;
		gap: calc(var(--gap) / 2);
	}
}

main {
	display: grid;
	gap: var(--gap);
}

.primary-header {
	animation: rainbow 10s alternate-reverse infinite;
	background-image: linear-gradient(45deg, #e74c3c, #8e44ad, #3498db, #e67e22, #2ecc71);
	background-position: left;
	background-size: 400%;
	background-clip: text;
	color: transparent;
	font-size: var(--fs-h1-size);
	font-family: 'Silkscreen', cursive;
	text-align: justify;
}

@keyframes rainbow {
	0% {
		background-position: left;
	}

	100% {
		background-position: right;
	}
}

/* drawing */
.container__canvas {
	display: grid;
	grid-template-columns: repeat(20, 1fr);
	gap: calc(var(--square-size) / 4);
	cursor: pointer;
}

.square {
	transition: 1s ease;
	box-shadow: 0 0 2px #000;
	background-color: #1d1d1d;
	aspect-ratio: 1;
	width: var(--square-size);
	user-select: none;
}

/* drawing controls */
.bottom-controls {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 100%;
}

.buttons {
	display: flex;
	gap: var(--gap);
}

.btn {
	transition: border-color 500ms ease;
	border: 1px solid transparent;
	border-radius: var(--border-rad);
	background-color: rgba(255, 255, 255, 0.1);
	padding-inline: 0.5em;
	padding-block: 0.1em;
	color: white;
	font-size: var(--fs-btn);
}

.btn:active {
	opacity: 0.7;
}

.btn.active {
	border-color: white;
}

.color-pickers {
	display: flex;
	gap: var(--gap);
	width: 100%;
}

.color-picker {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	border-radius: var(--border-rad);
	width: calc((100% / 5) - var(--gap) * 0.8);
	height: var(--picker-height);
}

.color-picker::-webkit-color-swatch {
	border: none;
	border-radius: var(--border-rad);
}

.color-picker::-webkit-color-swatch-wrapper {
	padding: 0;
}

.sr-only {
	clip: rect(0, 0, 0, 0);
	position: absolute;
	margin: -1px;
	border: 0;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	white-space: nowrap;
	/* added line */
}